h1 Hello {{form.nickname}}

form(ng-submit="sendText(form)")
	input(type='text', ng-model='form.nickname', name='nickname', placeholder='Nickname')
	input(type='text', ng-model='form.text', name='mytext', placeholder='Message')
	input(type='submit')

div(ng-repeat='message in chatLog')
	div(class='chatMessage', ng-class='{me: message.nickname == form.nickname}')
		span(class='nickname') {{message.nickname}}
		{{message.text}}
		span(class='timestamp') {{message.timestamp}} 
